CDAparser/Service References/ServiceReference1/CasemanagerReceiver1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CasemanagerReceiver" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://casemanagertest.azurewebsites.net/CasemanagerReceiver.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://casemanagertest.azurewebsites.net/CasemanagerReceiver.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://casemanagertest.azurewebsites.net/CasemanagerReceiver.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICasemanagerReceiver_receiveEducationEvaluation_InputMessage">
    <wsdl:part name="parameters" element="tns:receiveEducationEvaluation" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveEducationEvaluation_OutputMessage">
    <wsdl:part name="parameters" element="tns:receiveEducationEvaluationResponse" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:receiveProfile" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:receiveProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveEducationPlannings_InputMessage">
    <wsdl:part name="parameters" element="tns:receiveEducationPlannings" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveEducationPlannings_OutputMessage">
    <wsdl:part name="parameters" element="tns:receiveEducationPlanningsResponse" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveProfileMilk_InputMessage">
    <wsdl:part name="parameters" element="tns:receiveProfileMilk" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveProfileMilk_OutputMessage">
    <wsdl:part name="parameters" element="tns:receiveProfileMilkResponse" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveServiceProvisionEducation_InputMessage">
    <wsdl:part name="parameters" element="tns:receiveServiceProvisionEducation" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_receiveServiceProvisionEducation_OutputMessage">
    <wsdl:part name="parameters" element="tns:receiveServiceProvisionEducationResponse" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_getCasemanagerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:getCasemanagerProfile" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_getCasemanagerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCasemanagerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_getCasemanagerQuestionare_InputMessage">
    <wsdl:part name="parameters" element="tns:getCasemanagerQuestionare" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_getCasemanagerQuestionare_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCasemanagerQuestionareResponse" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_getCasemanagerPlanning_InputMessage">
    <wsdl:part name="parameters" element="tns:getCasemanagerPlanning" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_getCasemanagerPlanning_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCasemanagerPlanningResponse" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_getProfileList_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfileList" />
  </wsdl:message>
  <wsdl:message name="ICasemanagerReceiver_getProfileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfileListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICasemanagerReceiver">
    <wsdl:operation name="receiveEducationEvaluation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveEducationEvaluation" message="tns:ICasemanagerReceiver_receiveEducationEvaluation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveEducationEvaluationResponse" message="tns:ICasemanagerReceiver_receiveEducationEvaluation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveProfile" message="tns:ICasemanagerReceiver_receiveProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveProfileResponse" message="tns:ICasemanagerReceiver_receiveProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveEducationPlannings">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveEducationPlannings" message="tns:ICasemanagerReceiver_receiveEducationPlannings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveEducationPlanningsResponse" message="tns:ICasemanagerReceiver_receiveEducationPlannings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveProfileMilk">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveProfileMilk" message="tns:ICasemanagerReceiver_receiveProfileMilk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveProfileMilkResponse" message="tns:ICasemanagerReceiver_receiveProfileMilk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveServiceProvisionEducation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveServiceProvisionEducation" message="tns:ICasemanagerReceiver_receiveServiceProvisionEducation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/receiveServiceProvisionEducationResponse" message="tns:ICasemanagerReceiver_receiveServiceProvisionEducation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCasemanagerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/getCasemanagerProfile" message="tns:ICasemanagerReceiver_getCasemanagerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/getCasemanagerProfileResponse" message="tns:ICasemanagerReceiver_getCasemanagerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCasemanagerQuestionare">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/getCasemanagerQuestionare" message="tns:ICasemanagerReceiver_getCasemanagerQuestionare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/getCasemanagerQuestionareResponse" message="tns:ICasemanagerReceiver_getCasemanagerQuestionare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCasemanagerPlanning">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/getCasemanagerPlanning" message="tns:ICasemanagerReceiver_getCasemanagerPlanning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/getCasemanagerPlanningResponse" message="tns:ICasemanagerReceiver_getCasemanagerPlanning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfileList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasemanagerReceiver/getProfileList" message="tns:ICasemanagerReceiver_getProfileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasemanagerReceiver/getProfileListResponse" message="tns:ICasemanagerReceiver_getProfileList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICasemanagerReceiver" type="tns:ICasemanagerReceiver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="receiveEducationEvaluation">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/receiveEducationEvaluation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveProfile">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/receiveProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveEducationPlannings">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/receiveEducationPlannings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveProfileMilk">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/receiveProfileMilk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveServiceProvisionEducation">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/receiveServiceProvisionEducation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCasemanagerProfile">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/getCasemanagerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCasemanagerQuestionare">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/getCasemanagerQuestionare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCasemanagerPlanning">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/getCasemanagerPlanning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfileList">
      <soap:operation soapAction="http://tempuri.org/ICasemanagerReceiver/getProfileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CasemanagerReceiver">
    <wsdl:port name="BasicHttpBinding_ICasemanagerReceiver" binding="tns:BasicHttpBinding_ICasemanagerReceiver">
      <soap:address location="http://casemanagertest.azurewebsites.net/CasemanagerReceiver.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>